:root {
    --main-dark-blue: #1F2937; /* Dark Blue */
    --main-white: #F9FAF8; /* White */
    --main-grey: #E5E7EB; /* Grey */
    --main-sky-blue: #3882F6; /* Sky Blue */
    --main-sky-blue-shaded: #174692; /* Sky Blue */
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    scroll-behavior: smooth;
    background-color: var(--main-grey);	 
}

body {
	 border: 1px solid var(--main-dark-blue);
}

.main-section {
    padding: 5px 300px 50px 300px;
}

@media (max-width: 105em) {
    .main-section {
        padding: 5px 150px 50px 150px;
    }
}

@media (max-width: 85em) {
    .main-section {
        padding: 5px 100px 50px 100px;
    }
}

@media (max-width: 50em) {
    .main-section {
        padding: 5px 15px 25px 15px;
    }
}

.introduction-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    min-height: 500px;
    background-color: var(--main-dark-blue);
    color: var(--main-white);
}

@media (max-width: 85em) {
    .introduction-container {
       height: 500px;
    }
}

.header-section {
    flex: 1 0 auto;

    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.logo-header { /* header-section child */
    font-size: 28px;
    font-weight: bold;
    color: var(--main-white);
}

.nav-bar { /* header-section child */
    width: 50%;   
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
    flex-wrap: wrap;
}

.nav-bar a {
    text-decoration: none;
    color: var(--main-grey);
    font-size: 20px;
}

.nav-bar a:hover {
    color: var(--main-sky-blue);
}

.introduction-section {
    flex: 2 0 auto;

    width: 100%;
    display: flex;
    gap: 15px;
}

.introduction { /* introduction-section child */
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.introduction h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--main-white);
    line-height: 1.2;
}

.introduction p {
    font-size: 20px;
    color: var(--main-grey);
}

.introduction button {
    background-color: var(--main-sky-blue);
    color: var(--main-white);
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.introduction button:hover {
    background-color: var(--main-sky-blue-shaded);
}

.img-container { /* introduction-section child */
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

.locations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-white);
}

.locations-container h2 { /* location-container child */
    font-size: 38px;
    font-weight: 800;
    color: var(--main-dark-blue);
    text-align: center;
    margin: 20px 0 20px 0;
}

.gallery-container { /* location-container child */
    display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 75px;
    padding-top: 20px;
}

.gallery-container > figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px; /* width value matches .gallery-img width */
}

.gallery-img {
    object-fit: cover;
    border: 3px solid var(--main-sky-blue);
    border-radius: 5px;
    width: 250px;
    height: 250px;
}

figure > figcaption {
    text-align: center;

}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-grey);
    padding-top: 150px;
    padding-bottom: 150px; 
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--main-dark-blue);
}

.quote-author {
    font-size: 33px;
    font-weight: bold;
    align-self: flex-end;
}

.signup-external-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--main-white);
    width: 100%;
}

.signup-internal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--main-sky-blue);
    color: var(--main-white);
    font-size: 22px;
    border-radius: 7px;
    width: 100%;
    height: 150px;
}

.outro-button {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--main-sky-blue);
    color: var(--main-white);
    width: 25%;
    border: 2px solid var(--main-white);
    border-radius: 5px; 
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.outro-button:hover {
    background-color: var(--main-white);
    color: var(--main-sky-blue-shaded);
}

@media (max-width: 67em) {
    .introduction-container {
       height: 1000px;
    }

    .header-section {
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
    }

    .nav-bar {
       width: 90%;
    }

    .nav-bar ul {
       justify-content: space-evenly;
       align-items: center;
       gap: 15px;
    }

    .introduction-section {
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
    }

    .introduction {
       order: 2;
    }

    .img-container {
       order: 1;
    }

    .signup-internal-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 200px;
    }

    .signup-internal-container > div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .outro-button {
        align-self: center;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-dark-blue);
    color: var(--main-white);
	height: 15vh;
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}